body{
    background-image: url('../images/fondo2.jpg')
}

.login{
    background: #ffffff;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

#contenido{
    max-width: 10%;
    max-height: 20%;
}

.width{
    min-height: 250px;
    max-height: 250px;
    margin-top: 10%;
}

.width2{
    margin-bottom: 5%;
}


.tamaño{
    float: right;
    max-width: 300px;
    max-height: 250px
}

.dis{
    width: 15px;
    height: 15px;
    margin: 15px;
}

.bac{
    background: #ffffff
}

.container{
    width: 60%;
}

.font{
    font-size: 15px
}

.marg{
    padding: 0 25px;
}

.margin{
    margin: 2%;
}

@media only screen and (max-width: 505px) {
    .login {
        width: 100%;
        height: 100%;
    }

    .centrado {
        position: absolute;
        top: 35%;
        left: 0;
        transform: translate(0, -35%);
    }

    .top {
        margin-top: 50%;
    }

    .tamaño{
        float: right;
        max-width: 100px;
        max-height: 250px
    }

 }
 
 #contenido {
     margin: 0;
     padding: 0;
     display: inline-block
 }